wiriscasenabled = "false"
wiriseditorenabled = "true"
wiriseditormathmlattribute = "data-mathml"
wiriseditorsavemode = "xml"
wiriseditoreditmode = "default"
wiriseditorparselatex = "true"
wiriseditorparsexml = "false"
wiriseditorwindowattributes = "width=570, height=450, scroll=no, resizable=yes"
wiriseditorsetsize = "false"
wiriseditormodalwindow = "false"
wirischemeditorenabled = "true"
wirisimageformat = "png"
wiriscachedirectory=""
wirisformuladirectory=""