/*#revolutionul{
            background: lightblue;
        }*/
        .right-cont{
            width: 80%;
        }
        .input-txt{
            border: none;
            border-bottom: 1px dotted #003682;
            color: #333;
            font-size: 14px;
            padding: 10px;
            width: 100%;
            margin-top: 10px;
        }
        .btn-sbmit{
            background: rgba(0, 0, 0, 0) linear-gradient(#d4d4d4, #aaaaaa) repeat scroll 0 0;
            border-radius: 7px !important;
            color: #fff;
            cursor: pointer;
            display: block;
            font-size: 18px;
            font-weight: 600;
            height: 50px;
            margin: 12px auto 7px !important;
            max-width: 250px;
            outline: 0 none;
            transition: all 0.5s ease 0s;
            width: 60%;
            border: none;
        }
        .btn-sbmit:hover{
            background: #59ABE3;
        }
        .text_cont a{
            font-size: 13px;
        }
        @media all and(max-width: 767px),(max-device-width: 767px){
            .right-cont{
                width: 285px !important;
                float: none !important;
                margin: 10px auto;
            }
            .page-slider{
                padding: 0px !important;
            }
        }
        @media all and(min-width: 768px),(min-device-width: 768px){
            .login{
            margin-top: 30px;
        }
        .container-head-top{
            padding-top: 30px !important;
        }
        }